.movie-card {
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  gap: 0.5rem;
  margin: 10px;
  border: 1px solid rgb(220, 220, 220);
}

.movie-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.movie-card > img {
  border-radius: 3px;
}

.movie-card img,
.movie-card > div {
  width: 95%;
}

.movie-card > div > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card a:hover {
  background-color: dodgerblue;
  color: white;
}

.movie-card a {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  color: dodgerblue;
  cursor: pointer;
  transition: 0.1s;
  margin: 5px 0;
}

.movie-card .type span {
  text-transform: capitalize;
}

.movie-card .type,
.movie-card .vote {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.movie-card .vote svg {
  color: rgb(236, 177, 50);
}