nav {
  height: 70px;
  width: 100%;
  background-color: dodgerblue;
}

nav img {
  height: 40%;
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-container {
  padding: 0 10px;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
