nav {
  height: 70px;
  width: 100%;
  background-color: dodgerblue;
}

nav img {
  height: 30px;
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-container {
  padding: 0 10px;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 2rem;
  height: 100%;
  flex-wrap: wrap;
}

.links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: flex;
  gap: 0.5rem;
}

.links a:hover {
  transform: translateY(-3px);
  color: white;
}

@media (max-width: 650px) {
  nav {
    height: 110px;
  }
  .nav-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links {
    height: 50%;
  }
}
