.movies {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.movies h2 {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: rgba(0, 0, 0, 0.9);
}